.testimonials-container{
    font-family: "Questrial", sans-serif ;
    background-color: #FAF9FB;
    padding-top: 2rem;
}
.testimonials-title{
    font-weight: bold;
    padding-bottom: 1rem;
}

.img{
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
}

.small{
    width: 65px;
    height: 60px;
    border-radius: 50px;
}
.user-info{
    text-align: center;
    padding-left: 1rem;
 

}
.bg-black{
    background-color: coral !important;
    border-radius: 40%;
    // padding: 10px;

}
@media (max-width:420px) {
    .testimonials-container{
        text-align: center;
        padding-bottom: 5rem;
        padding-top: 5rem;
        align-items: center;
        justify-content: center;
    }
    .testimonials-pg{
        width: 90vw !important;
    }
    
    .mobile{
        flex-direction: column;
        width: 90vw;
    }
    .img{
        display: none;
        
        
    }
    
}