
    .questions-asked{
    font-family: "Questrial", sans-serif;

        padding-bottom: 5rem;
            h1{
                padding: 5rem 0px;
                
        }
    }
        .accordion{
            padding: 0 5vw;
            .accordion-item{
                background-color: #F9FBFC;
                padding: 2vh 4vw;
            }
        }
    
